body{
  padding-bottom:200px;

}
p{
  font-family: Arial;
}

a:link{
  text-decoration: none;
  background-color: transparent;
 
}
h1{
  color: rgb(44, 42, 88);
  font-family: Arial;
  font-size: 50px;
  margin-bottom:0px;
}
a{
  color:black;
}