body{
  padding-bottom:200px;
}
p{
  font-family: Arial;
}

a{
  text-decoration: none;
  color:black;
  transition: color 0.3s;
}
a:hover{
color:rgb(122, 90, 50);
}
h1{
  color: rgb(44, 42, 88);
  font-family: Arial;
  font-size: 50px;
  margin-bottom:0px;
}
