.video-container{
  display: flex;
  flex-direction: row;
width: 1500px;
height: 450px;
margin-top:200px;
margin-left:300px;
padding-right:150px;
position:relative;
filter: contrast(1);
filter:brightness(1);
z-index: 0;
}

.homepage-banner-video{
  width:100%;
  height: 100%;
object-fit: cover;
}
.banner-writeup{
  font-family: Arial;
  font-size: 45px;
  font-weight: Bold;
  position: absolute;
  color:rgb(240, 234, 234);
  top: 90px ;
  width: 550px;
  left:650px ;
}

.programmes-container{
 position:absolute;
 bottom:-270px;
 left:50px;
 display: flex;
 flex-direction:row;
 justify-content:space-between;
 width:1400px;
 height: 300px;
 cursor: pointer;
}

.programme{
  font-family: Arial;
  font-size: 25px;
    width:200px;
    height: 50px;
   background-color: rgb(229, 222, 222);
   padding:20px;
   margin-bottom:10px;
   display:flex;
   flex-direction:row;
   justify-content: center;
   align-items: center;
  
}
.programme a{
  cursor:pointer;
}
  


.description-container{
  margin:10px;
  width:300px;
  height: 180px;
  font-family: Arial;
  font-size: 20px;
  color:rgb(95, 92, 92);
}

.departmental-events-container{
  width:800px;
  margin-top:60px;
  margin-left:150px;
  display:flex;
  flex-direction: row;

}
.departmental-events-image{
  width:400px;
  margin-top:300px;
  margin-left:450px;
}

.events-about{
  width:400px;
  display: flex;
  flex-direction: column;
  margin-left:30px ;
  margin-top:300px;
}

.programme-type{
  font-size:20px;
  color:rgb(109, 106, 106);
  padding:20px;
}

.events{
  font-size:20px;
  color:rgb(137, 102, 35);
  cursor: pointer;
}

.short-course-container{
  position:relative;
  margin-top:45px;
  margin-left:650px;
  display: flex;
    flex-direction: column;
    padding-left:50px;
    width:700px;
    height: 250px;
  }
  .short-course-container h1{
    width: 580px;
  }

  .short-course-container p{
    margin-top:10px;
    position:absolute;
    left:-80px;
    font-size:22px;
    width:1034.3px;
  line-height: 30px;
  margin-bottom: 0px;
  }
  
  .short-course-container h3{
  position: absolute;
  bottom:22px;
  left:155px;
  color: rgb(44, 42, 88);
  font-size: 20px;
  }

  .join-our-short-course-container{
    position:relative;
    width:1500px ;
    margin-left:300px;
    margin-top: 40px;
    margin-bottom:0px;
    background: rgb(0,0,0);
  }

  .join-our-short-course-program{
    position:absolute;
    top:20px;
    color:white;
    font-size:55px;
    font-weight: bold;
    left:360px;
  
  }
  
  .under-grad-image{
    width:1500px;
    height: 600px;
    object-fit: cover;
    opacity: 0.2;
  }
  
  .why-the-short-program{
    position:absolute;
    top:120px;
    left:110px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:21px;
    color:white;
    
  }
  .remaining-words{
    position:absolute;
    top:30px;
    display: flex;
    align-items: center;
    font-size:21px;
    color:white;
  }
  .graduation-hat-icon-container{
    position:absolute;
    width:200px;
    top:270px;
    left:310px;
  
  }
  .graduation-hat-icon{
    width:60px;
  
  }
  
.expert-instructors{
  position:absolute;
  top:350px;
  left:260px;
  font-size: 26px;
  color: white;
  font-weight: bold;
  width: 250px;
}

.why-the-instructors-container{
  position:absolute;
  top:390px;
  left:80px;
  width:610px;
  display: flex;
  
}
.why-the-instructors{
  font-size:18px;
  color: white;
}

.text-to-center{
  position:absolute;
  top:47px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-size:18px;
  color: white;
  width:600px;
}
.certificate-icon-container{
  position:absolute;
  width:200px;
  top:270px;
  left:1035px;
}
.certificate-icon{
  width:60px;
}
.certification{
  position:absolute;
  top:345px;
  left:995px;
  font-size: 26px;
  color: white;
  font-weight: bold;
  width: 200px;
}
.why-certification-container{
  position:absolute;
  top:380px;
  left:800px;
  width:610px;
  display: flex;
}
.why-certification{
  font-size:18px;
  color: white;
}

.form-container{
  position:absolute;
 top:530px;
 left:680px;
  width:150px;
  height:50px;
  background-color:rgb(186, 136, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.short-courses-form{
  color:white;
  font-size:16px;
  font-family: Arial;
}

.courses-container{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  width:1500px;
  margin-left:0px;
  overflow: hidden;
}
.course-and-description-container{
  animation: slide 16s infinite;
  transition: transform 2s;
  width:350px; 
}
.course-image{
  object-fit:cover;
  width:100%;
  height:300px;
  margin-bottom:0px;
}
.course-image :hover{
  transform: scale(1.4) rotate(5deg);
}

@keyframes slide{
  0%{
    transform: translateX(0);
  }
  25%{
    transform: translateX(0);
  }
  30%{
    transform: translateX(-100%);
  }
  55%{
    transform: translateX(-100%);
  }
  60%{
    transform: translateX(-200%);
  }
  85%{
    transform:translateX(-200%);
  }
  90%{
    transform: translateX(-300%);
  }
  100%{
    transform:translateX(-300%);
  }
  
}

.course-description{
  width:200px;
  line-height: 30px;
  font-size: 23px;
  margin-top:30px;
 color: white;
 margin-left:10px;
}

.course-name{
  font-family: Arial;
  font-size: 28px;
  width: 300px;
  display: flex;
  justify-content: center;
  margin-top:5px;
  color:white;
  margin-left:25px;
  cursor: pointer;
  transition:color 0.15s;
}

.course-name:hover{
  color:rgb(207, 170, 114);
}
.course-and-description-container{
  background-color: rgb(44, 42, 88);
  margin-top:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-summary{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width:1500px;
  height:850px;
 background-color:rgb(44, 42, 88);
  margin-left:300px;
  margin-top:700px;
}
.academics-container,
.admissions-container,
.research-container,
.about-the-department-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:380px;
}

.section-name{
  font-size: 24px;
  margin-bottom: 30px;
  color:white;
}

.page-summary a{
  font-size:22px;
  color: white;
  margin-bottom: 20px;
}
.page-summary a:hover{
  color:rgb(131, 90, 40);
}

.academics-container{
  position:absolute;
  left:50px;
  top:1px;
}
.admissions-container{
  position: absolute;
  top:1px;
  left:500px;
}
.research-container{
  position: absolute;
  top:1px;
  left:800px;
}

.about-the-department-container{
  position: absolute;
  top:1px;
  left:1100px;
}

.additional-info,
.additional-info-1{
  font-size: 26px;
  color:white;
  margin-bottom:20px;
}
.updates{
  font-size: 22px;
  color:rgb(97, 95, 95);
}

.additional-info-1{
  margin-top:190px;
}

.contact{
  font-size: 22px;
  color:white;
  margin-top:13px;
}

.email-address-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom:170px;
  left:50px;
}
.email-address{
  font-size: 20px;
  color:gray;
  width:270px;
  height: 55px;
  padding-left:28px;
}

.email-button-container{
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom:171px;
  left:351px;
  
}
.email-button{
  width:60px;
  height:55px;
  border:1px;
  margin-left:-1px;
  background-color: rgb(160, 117, 36);
}
.arrow-icon{
  width: 30px;
  position:absolute;
  left:13px;
  top:13px;
}

.telephone-icon-container{
  position:absolute;
  top:610px;
  display: flex;
  flex-direction: row;
}
.telephone-icon{
  width:30px ;
  margin-right: 26px;
}

.mobile-number,
.department-email{
  font-size: 22px;
  color:white;
  
}
.telephone-icon2-container{
  position:absolute;
  top:650px;
  display: flex;
  flex-direction: row;
}

.mail-icon-container{
  position:absolute;
  top:690px;
  display: flex;
  flex-direction: row;
}
.mail-icon{
  width:40px ;
  margin-right: 26px;
}
.department-email{
  margin-top:6px;
}
.location-details{
  position: absolute;
  top:540px;
  display: flex;
  flex-direction: column;
  left:870px;
}
.location-title{
  font-size:28px;
  color: white;
  margin-bottom:12px;
  font-weight: bold;
}

.location-details p{
  font-size:22px ;
  color: white;
  margin-bottom: 1px;
}