.left-side-bar{
  position:fixed;
  display: flex;
  flex-direction: row;
  margin-top:50px;
  margin-right: 120px;
  bottom:100px;
  top:200px;
  width:200px;
  z-index:2px;
}
.image{
  width: cover;

}